body {
  margin : 0;
  padding : 0;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(93,83,255,1) 0%, rgba(124,4,123,1) 28%);
  overflow: hidden;
  div:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    background: #f4d5d5;
  }

}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  button {
    flex: 1;
  }
}