* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 25px;
  form {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 100px;
    & :nth-child(1),
    & :nth-child(2) {
      width: 48%;
      padding: 0;
      margin: 0;

    }
    & button {
      flex-basis: 100%;
    }
  }
}

.client {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
